@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');

h1 {
    font-family: 'Montserrat', sans-serif;
}

.turma {
    text-transform: uppercase;
}

.card-header {
    font-weight: bold;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield; 
}




