@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');


/* INDEX */

#index-body {
    background-image: linear-gradient( 90deg, #5400ff, #00BFFF);
    font-family: 'Montserrat', sans-serif;
    
/* font-family: 'Poppins', sans-serif; */
}

.btn-login {
    background-image: linear-gradient( 90deg, #00BFFF, #5400ff);
    font-weight: bold;
    border-color: #00BFFF;
}

.btn-login {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-login:hover {
    box-shadow: 0 0 40px 40px #020a9e inset;
    border-color: #020a9e;
}




h1 {
    font-family: 'Montserrat', sans-serif;
}

.turma {
    text-transform: uppercase;
}

.card-header {
    font-weight: bold;
}

.card {
    animation: fade 1.8s;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield; 
}

@keyframes fade {
from{
    opacity: 0;
    transform: scale(0.9);
}to{
    opacity: 1;
    transform: scale(1);
    }
}

.cartao-hide{
    animation: down 500ms;
    animation-fill-mode: forwards;
}

@keyframes down{
    0%{
        transform: translateY(0);
    }100%{
        transform: translateY(200vh);
    }
}

.card.validate-error{
    animation: nono 500ms linear, fade paused;
}

@keyframes nono {
    0%, 100%{
        transform:translateX(0);
    }
    35%{
        transform:translateX(-15%);
    }
    75%{
        transform:translateX(15%);
    }
}