@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@300&display=swap');


/* INDEX */

#index-body {
    background-image: linear-gradient( 90deg, #5400ff, #00BFFF);
    font-family: 'Montserrat', sans-serif;
    
/* font-family: 'Poppins', sans-serif; */
}

.btn-login {
    background-image: linear-gradient( 90deg, #00BFFF, #5400ff);
    font-weight: bold;
    border-color: #00BFFF;
}

.btn-login {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-login:hover {
    box-shadow: 0 0 40px 40px #020a9e inset;
    border-color: #020a9e;
}




h1 {
    font-family: 'Montserrat', sans-serif;
}

.turma {
    text-transform: uppercase;
}

.card-header {
    font-weight: bold;
}

form {
    animation-name: fade;
    animation-duration: 1s;
}
input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield; 
}



@keyframes fade {
from{
    opacity: 0;
    transform: scale(0.9);
}to{
    opacity: 1;
    transform: scale(1);
    }
}
