@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    background-color: rgb(0, 0, 0);
}

h1 {
    font-family: 'Caveat', cursive !important;
    font-size: 3em;
}

h3 {
    font-family: 'Caveat', cursive !important;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield; 
}

/* INDEX */

#index-body {
    background-image: linear-gradient( 90deg, #5400ff, #00BFFF);
    font-family: 'Montserrat', sans-serif;
}

.btn-login {
    background-image: linear-gradient( 90deg, #00BFFF, #5400ff);
    font-weight: bold;
    border-color: #00BFFF;
}

.btn-login {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.btn-login:hover {
    box-shadow: 0 0 40px 40px #020a9e inset;
    border-color: #020a9e;
}

form {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
        }
}

.card {
    animation: fade 1.8s;
}

input::-webkit-outer-spin-button, 
input::-webkit-inner-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

@keyframes fade {
    from{
        opacity: 0;
        transform: scale(0.9);
    }to{
        opacity: 1;
        transform: scale(1);
        }
    }
    
    .cartao-hide{
        animation: down 500ms;
        animation-fill-mode: forwards;
    }
    
    @keyframes down{
        0%{
            transform: translateY(0);
        }100%{
            transform: translateY(200vh);
        }
    }
    
    .card.validate-error{
        animation: nono 500ms linear, fade paused;
    }
    
    @keyframes nono {
        0%, 100%{
            transform:translateX(0);
        }
        35%{
            transform:translateX(-15%);
        }
        75%{
            transform:translateX(15%);
        }
    }    

/* FIM INDEX */


/* ELEITOR E ADMIN*/

.header-representante {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #484be454;
    border: dashed 1px #5400ff;
}

.header-chapa {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #0ac0e098;
    border: dashed 1px #037d81;
}

.header-representante-admin {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #4891e454;
    border: dashed 1px #0026ff;
}

.body-representante {
    border-left: dashed 1px #5400ff;
    border-right: dashed 1px #5400ff;
    border-bottom: dashed 1px #5400ff;
    text-transform: capitalize;
}

.body-chapa {
    border-left: dashed 1px #037d81;
    border-right: dashed 1px #037d81;
    border-bottom: dashed 1px #037d81;
    text-transform: capitalize;
}

.body-representante-admin {
    border-left: dashed 1px #0026ff;
    border-right: dashed 1px #0026ff;
    border-bottom: dashed 1px #0026ff;
    text-transform: capitalize;
}

.botao-votar-representante {
    background-color: #5400ff;
    font-weight: bold;
    padding: 5px 30px 5px 30px;
    text-decoration: none;
    border-radius: 4px;
}

.botao-votar-representante {
    -webkit-transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
}

.botao-votar-representante:hover {
    box-shadow: 0 0 40px 40px #020a9e inset;
    border-color: #020a9e;
    text-decoration: none;
}


.btn-editar {
    background-color: #0e61dd;
}

.btn-editar {
    -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}

.btn-editar:hover {
    box-shadow: 0 0 40px 40px #3e0283 inset;
    border-color: #3e0283;
}


.btn-deletar {
    background-color: #e2092d;
}

.btn-deletar {
    -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}

.btn-deletar:hover {
    box-shadow: 0 0 40px 40px #c20188 inset;
    border-color: #bb0776;
}


.btn-add-chapa, .btn-add-candidato {
    background-color: #0e61dd;
}

.btn-add-chapa, .btn-add-candidato {
    -webkit-transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
    transition: box-shadow 400ms ease-in-out, color 400ms ease-in-out;
}

.btn-add-chapa:hover, .btn-add-candidato:hover {
    box-shadow: 0 0 40px 40px #3e0283 inset;
    border-color: #3e0283;
}

/* FIM ELEITOR E ADMIN*/

